%h1 Bonne nuit


%section
  The phase of the moon is
  = @moon.phase


%section
  - unless @moon.phase == :full
    = t(:next_full_moon)
    
    = distance_of_time_in_words Time.now, @moon.next_full_moon


    %br
    
    - days_ago = (Time.now - @moon.previous_full_moon).seconds / 60 / 60 / 24
    = t(:last_full_moon, count: days_ago.to_i)